.shadow {
  width: 50%;
  height: 500px;
  box-shadow: 5px 5px 15px 7px blue;
  margin-bottom: 40px;
}

.many-shadows {
  width: 50%;
  height: 500px;
  box-shadow: -5px -3px 10px 4px greenyellow, 3px 5px 5px 2px royalblue,
    5px 8px 10px 5px yellow;
  margin-bottom: 40px;
}

.inset-shadow {
  width: 50%;
  height: 500px;
  box-shadow: inset 0 0 20px 5px palevioletred, 0 0 20px 5px skyblue;
}
